<h4>Cadastro de Contatos</h4>
<p>Preencha o formulário para incluir um contato na lista.</p>

<div *ngIf="mensagem != ''"> <!--local para mostrar a mensagem de retorno da api-->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{ mensagem }}</strong>
        <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>
<!--fazendo mapeamento do formulario-->
<form [formGroup]="formulario_contato" (ngSubmit)="cadastrarContato()">
    <div class="row">
        <div class="col-md-5">
            <label>Nome do Contato: </label>
            <input type="text" class="form-control" formControlName="nome" placeholder="digite seu nome...">
            <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                Por favor, informe o nome do contato com pelo menos 8 caracteres.
            </div>
        </div>

        <div class="col-md-5">
            <label>Email: </label>
            <input type="email" class="form-control" formControlName="email" placeholder="digite seu email...">
            <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                Por favor, informe um endereço de email valido.
            </div>
        </div>

        <div class="col-md-2">
            <label>Telefone: </label>
            <input type="text" class="form-control" formControlName="telefone" placeholder="digite numero de telefone...">
            <div class="text-danger" *ngIf="f['telefone'].touched && f['telefone'].invalid">
                Por favor, informe um número de telefone valido.
            </div>
        </div>
    </div>

    <!--enquanto não escrever todos os campos o botão fica desativado-->
    <div class="mt-3 d-flex justify-content-end ">
        <input type="submit" value="Cadastrar Contato" class="btn btn-success" [disabled]="formulario_contato.invalid">
    </div>
</form>