<h4>Consulta de Contatos</h4>
<p>Listagem de contatos cadastrados.</p>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <td>Nome do contato:</td>
                <td>Email:</td>
                <td>Telefone:</td>
                <td>Operações:</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-primary me-2">Editar</button>
                    <button class="btn btn-sm btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    Quantidade de Contatos: 0
                </td>
            </tr>
        </tfoot>
    </table>
</div>